@import "tailwindcss";



@theme{
  /* colors */
  --color-navy-blue: #10107B;
  --color-violet: #7848f4;
  --color-beige: #B32018;
  --color-sandy: #404040;
  --color-alexis: #B32018;

 /* typography */
  --text-big-heading:36px;
  --text-heading:24px;
  --text-sub-heading:18px;
  --text-body-text:16px;
  --text-paragraph:12px;
  --text-label:10px
}

body{
  background-color: beige;
}

@keyframes scroll-projects {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scroll-projects {
  animation: scroll-projects 10s linear infinite;
  width: max-content;
}

